<%include header.ejs%>
<%include nav.ejs%>

<h1><%= title %></h1>


<p>
    Boston Transit Ninja (BTN) is a  responsive web based application that helps commuters in the Boston area to find transit schedule,  nearby bus stops, transit locations and real time location information of buses and trains.

</p>